/* CSS Document */


form{
	font: 13px Verdana, Geneva, sans-serif;
	margin: auto;
	width: 300px;
}

form input[type="text"], input[type="email"]{
	font: 13px Verdana, Geneva, sans-serif;
	border: 1px solid #999;
	width: 295px;
	color: #03F;
}

form textarea{
	font: 13px Verdana, Geneva, sans-serif;
	border: 1px solid #999;
	height: 100px;
	width: 295px;
	color: #03F;
}

form input[type="submit"]{
	border: 1px solid #999;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
	padding: 5px 0;
	width: 300px;
}